apturl==0.5.2
beautifulsoup4==4.4.1
Brlapi==0.6.4
chardet==2.3.0
click==6.7
command-not-found==0.3
defer==1.0.6
Flask==0.12.2
flask-mongoengine==0.9.3
Flask-WTF==0.14.2
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
mongoengine==0.13.0
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pymongo==3.4.0
python-apt==1.1.0b1
python-debian==0.1.27
python-systemd==231
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
sessioninstaller==0.0.0
six==1.10.0
system-service==0.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.1.0
Werkzeug==0.12.2
WTForms==2.1
xdiagnose==3.8.4.1
xkit==0.0.0
