<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
    <link rel="stylesheet" href="{{url_for('event_page.static', filename='event.css')}}">
</head>
<body>
<div class="wrapper">
    <header>
        <img src="data:image/jpeg;base64,{{ params.logo }}" alt="logo" class="logo">
        <div class="general_info">
            <div class="organizer">{{ params.organizer }}</div>
            <div class="event_title">{{ params.title }}</div>
        </div>
        <img src="{{url_for('event_page.static', filename='follow.PNG')}}" alt="visit button" class="visit_button">
    </header>
    <div class="about"><p>{{ params.description }}</p></div>
    <h2>Activity details:</h2>
    <div class="details">
        <div class="what">
            <h3>What:</h3>
            <p>{{ params.what }}</p>
        </div>
        <div class="when">
            <h3>When:</h3>
            <p>{{ params.when }}</p>
        </div>
        <div class="extras">
            <h3>Extras:</h3>
            <p>10% discount with code XFY123</p>
        </div>
    </div>
    <div class="map">
        <img src="data:image/jpeg;base64,{{ params.map }}" alt="map">
    </div>
    <div class="buttons">
        <a class="call_button" href="{{ params.call }}">call</a>
        <a class="website_button" href="{{ params.website }}">website</a>
    </div>
</div>
</body>
</html>