body {
	overflow-y: hidden;
	font: 18px Arial, sans-serif;
	color: #293d4e;
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
	margin-top: 30px;
	flex-basis: 10%;
	width: 100%;
}

.logo {
	height: 100%;
	margin-left: 40px;
}

.general_info {
	font-size: 2.6em;
	margin: 0 25px 0 10px;
}

.event_title {
	font-weight: bold;
}

.visit_button {
	align-self: flex-start;
	height: 47%;
	margin: 10px 20px 0 auto;
}

.about {
	display: flex;
	align-items: center;
	flex-basis: 13%;
	width: 90%;
	align-self: flex-start;
}

.about p {
	margin-left: 40px;
}

h2 {
	display: flex;
	align-items: center;
	font-size: 2.3em;
	margin: 0 0 0 60px;
	align-self: flex-start;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 13%;
	width: 100%;
}

h3,
p {
	margin: 5px;
	font-size: 2.3em;
}

.what,
.when,
.extras {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 115px;
}

.map {
	flex-basis: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.map img {
	width: 90%;
	max-height: 100%;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 10%;
	width: 100%;
}

.call_button {
	margin-right: 60px;
}

.call_button,
.website_button {
	width: 30%;
	height: 60%;
	background-color: #fe6229;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.8em;
	color: #fff;
	box-shadow: -2px 5px 5px rgba(0, 0, 0, .2);
	text-decoration: none;
	text-transform: uppercase;
}